#container {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(240, 71%, 68%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
background-color: rgb(130, 131, 231);
}
button:active{
background-color: rgb(180, 181, 240);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}
#diceResult{
    margin: 25px;
}
#diceImages img{
    margin: 5px;
    width: 150px;
}